.image-block {
	max-width: kp-rem(400px);
	display: block;
}

.image-block__row {
	@include columns;

	@include kp-mq(sm) {
		@include columns(true,true,30px);
	}
	@include kp-mq(md) {
		@include columns(true,true,30px);
	}
	@include kp-mq(lg) {
		@include columns(true,true,30px);
	}
}

.image-block__image {
	img {
		border-radius: $global--border-radius;
	}
}

.image-block__content {
	position: relative;
}

.image-block__content-inner {
	position: relative;
	@include kp-mq(sm) {
		padding-bottom: kp-rem($global--spacing-common);
	}
}

.image-block__heading {
	@include heading('service');
	margin: 0 0 kp-rem(10px) 0;

	@include kp-mq(md) {
		margin-bottom: kp-rem(15px);
	}
}

.image-block__text {
	opacity: 0.85;
	margin: 0 0 kp-rem(10px) 0;
	p {
		font-weight: 300;
		margin: 0;
		font-size: kp-rem(16px);
		line-height: kp-rem(20px);
	}
	@include kp-mq(md) {
		margin-bottom: kp-rem(15px);
	}
}

.image-block__more {
	line-height: kp-rem(16px);
	z-index: 110;
	font-size: kp-rem(16px);
	height: kp-rem(16px);
	display: inline-block;
	color: $my-project--primary;
	text-decoration: none;
	svg {
		transition: all 200ms ease-in-out 0ms;
		vertical-align: top;
		width: kp-rem(16px);
		height: kp-rem(16px);
		opacity: 0.5;
		transform: translateX(5px);
		fill: currentColor;
	}

	@include kp-mq(sm) {
		position: absolute;
		left: 0;
		bottom: 0;
	}
	@include kp-on-event {
		color: $my-project--primary;
		text-decoration: none;
		svg {
			opacity: 1;
			transform: translateX(10px);
		}
	}
}

.image-block--wide {
	.image-block__image {
		max-width: kp-rem(300px);
	}
	@include kp-mq(sm) {
		max-width: none;
		.image-block__image {
			width: 50%;
		}
		.image-block__content {
			width: 50%;
		}
	}
	@include kp-mq(lg) {
		max-width: none;
		.image-block__image {
			width: 50%;
		}
		.image-block__content {
			width: 50%;
		}
	}
}
