@mixin button {
	@include kp-reset-button;
	//padding: kp-rem(11px) kp-rem(25px);
	display: inline-block;
	text-align: center;
	//border-radius: $global-border-radius;
	text-decoration: none;
	font-weight: 400;
	//font-size: kp-rem(18px);
	//line-height: kp-rem(18px);
	&:before, &:after {
		content: none;
	}

	svg {
		fill: currentColor;
	}
}

.button--primary {
	@include button;
	@include kp-on-event {
	}
}
