// Foundation (6.3.1).
// --------------------------------------------------------------------------

@if $kp-framework == "foundation" {
	// Enable or disable Flexbox support.
	// -------------------------------------
	$global-flexbox: false;
	// Set the base font size.
	// -------------------------------------
	$base-font-size: $kp-base--font-size !global;
	// Set the REM base.
	// -------------------------------------
	$global-font-size: $kp-base--font-size !global;
	// Sets the total number of columns in
	// the grid.
	// -------------------------------------
	$grid-column-count: $kp-base--columns !global;
	// Sets the grid gutter width.
	// -------------------------------------
	$grid-column-gutter: kp-rem($kp-base--gutter-width) !global;
	// Sets the maximum row width.
	// -------------------------------------
	$global-width: kp-rem($kp-base--row-width) !global;
	$grid-row-width: kp-rem($kp-base--row-width) !global;
	// Set whether the last column in a row
	// floats to the right, or not.
	// -------------------------------------
	$grid-column-align-edge: false !global;
	// Override Foundation's breakpoints
	// with those defined in Kapow!.
	// -------------------------------------
	$breakpoints: (
		tiny: 0,
		xxsmall: kp-rem($kp-bp--xxs),
		xsmall: kp-rem($kp-bp--xs),
		small: kp-rem($kp-bp--sm),
		medium: kp-rem($kp-bp--md),
		large: kp-rem($kp-bp--lg),
		xlarge: kp-rem($kp-bp--xl),
		xxlarge: kp-rem($kp-bp--xxl)
	) !global;
	// Set the breakpoint classes.
	// -------------------------------------
	$breakpoint-classes: (tiny xxsmall xsmall small medium large xlarge xxlarge) !global;
	// Change the Topbar breakpoint.
	// -------------------------------------
	$topbar-unstack-breakpoint: small !global;
	// Set the Print breakpoint.
	// -------------------------------------
	$print-breakpoint: medium !global;
	// Modify the default Foundation colour
	// palette to use Kapow! defaults.
	// -------------------------------------
	$foundation-palette: (
	  primary: $kp-colour--black,
	  secondary: $kp-colour--grey,
	  success: $kp-colour--green,
	  warning: $kp-colour--amber,
	  alert: $kp-colour--red,
	);
}

// Bourbon (4.3.3) + Neat (2.0.0)
// --------------------------------------------------------------------------

@if $kp-framework == "bourbon" {
	$neat-grid: (
	  columns: $kp-base--columns,
	  gutter: $kp-base--gutter-width,
	) !global;
}

// Bootstrap (3.3.6)
// --------------------------------------------------------------------------

@if $kp-framework == "bootstrap" {
	// Set the base font size
	// -------------------------------------
	$font-size-base: $kp-base--font-size;
	// Sets the total number of columns in
	// the grid.
	// -------------------------------------
	$grid-columns: $kp-base--columns;
	// Sets the grid gutter width
	// -------------------------------------
	$grid-gutter-width: $kp-base--gutter-width;
	// Override Bootstrap's breakpoints
	// -------------------------------------
	$screen-xs: $kp-bp--xs;
	$screen-sm: $kp-bp--sm;
	$screen-md: $kp-bp--md;
	$screen-lg: $kp-bp--lg;
	// Set the container widths to our own
	// row width.
	// -------------------------------------
	$container-tablet: $kp-base--row-width;
	$container-desktop: $kp-base--row-width;
	$container-large-desktop: $kp-base--row-width;
	// Point at which the navbar becomes
	// uncollapsed.
	// -------------------------------------
	$grid-float-breakpoint: $kp-bp--sm;
	// Point at which the navbar begins
	// collapsing.
	// -------------------------------------
	$grid-float-breakpoint-max: $kp-bp--sm - 1;
}
