blockquote {
	background-color: $kp-blockquote-bg-colour;
	border-left-color: $kp-blockquote--border-colour;
	border-left-style: $kp-blockquote--border-style;
	border-left-width: $kp-blockquote--border-width;
	margin: kp-rem($kp-base--spacing-common);

	p {
		font-size: kp-rem($kp-font-size--large);
		font-style: italic;
		@if $kp-blockquote--quotes {
			quotes: '\201c' '\201d';

			&:before {
				content: open-quote;
			}

			&:after {
				content: close-quote;
			}
		}

		& + p {
			margin-top: 0;
		}
	}
}
