// Blockquotes.
// -------------------------------------

/// Blockquote - Background Colour.
/// @type Color
/// @group elements
$kp-blockquote-bg-colour: none !default;

/// Blockquote - Border Colour.
/// @type Color
/// @group elements
$kp-blockquote--border-colour: none !default;

/// Blockquote - Border Style.
/// @type String
/// @group elements
$kp-blockquote--border-style: solid !default;

/// Blockquote - Border Width.
/// @type Number
/// @group elements
$kp-blockquote--border-width: 4px !default;

/// Blockquote - Quotes.
/// @type Bool
/// @group elements
$kp-blockquote--quotes: true;

// Forms.
// -------------------------------------

/// Forms - Border.
/// @type String
/// @group elements
$kp-form--border: 1px solid $kp-colour-form--input-border;

/// Forms - Placeholder Styles.
/// @type List
/// @group elements
/// @see {mixin} kp-placeholder-styles
$kp-ph--styles: (color: $kp-colour-form--input, opacity: 1) !default;

/// Forms - Placeholder Prefixes.
/// @type List
/// @group elements
/// @see {mixin} kp-placeholder-styles
$kp-ph--prefixes: "::-webkit-input-placeholder", "::-moz-placeholder", ":-ms-input-placeholder", "::placeholder" !default;
