



// Colours.
// -------------------------------------
$kp-colour-branding--primary: red !default;
$kp-colour-branding--secondary: black !default;
$kp-colour-branding--tertiary: white !default;
$kp-colour-branding--quaternary: white !default;
$kp-colour-body--background: white !default;
$kp-colour-content--copy: grey !default;
$kp-colour-content--heading: black !default;
$kp-colour-content--link: red !default;
$kp-colour-content--link-hover: darken($kp-colour-content--link, 20%) !default;
$kp-colour-content--link-visited: purple !default;
$kp-colour-content--pre: white !default;
$kp-colour-content--pre-bg: black !default;
$kp-colour-form--input: grey !default;
$kp-colour-form--input-bg: white !default;
$kp-colour-form--input-border: lightgrey !default;
$kp-colour-form--input-focus: red !default;
$kp-colour-form--input-focus-border: red !default;
$kp-colour-form--input-focus-bg: white !default;
$kp-colour-form--input-submit: white !default;
$kp-colour-form--input-submit-bg: red !default;
$kp-colour-form--input-submit-hover-bg: darken($kp-colour-form--input-submit-bg, 20%) !default;
